/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fdfcfb;
  color: #333;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
  border-color: blue;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.menu-btn {
  width: 25px;
  height: 12px;
  top: 91px;
  left: 18px;
  border: 2.5px;
}

img {
  width: 100%;
  position: relative;
  justify-content: center;
}
